<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Delete Patient</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Delete Patient</h2>
    </div>

    <div class="row">
        <form th:action="@{/deletePatient/{id}(id=${patient.id})}" method="post" class="form-horizontal" style="width: 100%">
            <input type="hidden" name="_method" value="delete"/>

            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">Firstname</label>
                <div class="col-sm-10">
                    <input type="text" id="firstname" placeholder="FirstName" class="col-4 form-control" th:value="${patient.firstname}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Lastname</label>
                <div class="col-sm-10">
                    <input type="text" id="lastname" placeholder="Lastname" class="col-4 form-control" th:value="${patient.lastname}" readonly>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <p>Are you sure you want to delete this patient?</p>
                    <input type="hidden" th:name="id" th:value="${patient.id}"/>
                    <a class="btn btn-danger btn-sm" href="patients/patientList">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Delete Patient">
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>
